<div class="chat">
      <h2>Chat</h2>
    <div>
      <div class="chat-messages">
        <div class="message">
          <p class="meta">Juan<span> 23:02pm</span></p>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            repudiandae.
          </p>
        </div>
        <div class="message">
          <p class="meta">Hernan<span> 23:15pm</span></p>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
            repudiandae.
          </p>
        </div>
      </div>
    </div>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="mail" type="text" placeholder="Mail" required/>
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button>Enviar</button>
      </form>
    </div>
  </div>