<h2 class="form__title">Carga tu producto</h2>
<form id="product-form">
  <label for="name" class="form__label">
    Nombre
    <div class="form__inputContainer">
      <input type="text" name="title" id="name" />
    </div>
  </label>
  <label for="price" class="form__label">
    Precio
    <div class="form__inputContainer">
      <input type="number" name="price" id="price" />
    </div>
  </label>
  <label for="thumbnail" class="form__label">
    Url Imagen
    <div class="form__inputContainer">
      <input type="text" name="thumbnail" id="thumbnail" />
    </div>
  </label>
  <button class="form__btn">
    <span>Agregar productos!</span>
  </button>
</form>
